[submodule ".\\themes\\hello-friend"]
	path = .\\themes\\hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/themes/solar-theme-hugo"]
	path = themes/themes/solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
